:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --link-text-color: #757575;
  --accent-color: #2196f3;
  --btn-color: #f5f4fa;
  --primary-btn-color: #2196f3;
  --second-btn-color: #188ce8;
  --text-btn-color: #212121;
  --second-text-btn-color: #ffffff;
  --primary-color: #ffffff;
  --footer-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  min-width: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  width: 145px;
}

/*---------------HEADER---------------*/

/*
.logo-footer {
  color: var(--accent-color);
  display: flex;
  margin-bottom: 20px;
  margin-right: 93px;
  width: 145px;
}

.logo-studio-footer {
  color: var(--primary-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/*----------------HEADER-----------*/

.header {
  color: var(--primary-color);
  border: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo__dark {
  color: #000;
}

.navigation {
  display: flex;
}

.navigation__item {
  position: relative;
}

.navigation__item:not(last chaild) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link-active {
  color: var(--primary-btn-color);
}

.navigation__link-active::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  bottom: 0px;
  border-radius: 2px;
}

.header__contacts {
  margin-left: auto;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: center;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item:not(last chaild) {
  margin-right: 30px;
}

/*----------------MAIN------------*/
.main {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.main-btn {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--second-btn-color);
}

/*--------------SECTION----------*/
.section-list {
  display: flex;
}

.section-item:not(:last-child) {
  margin-right: 30px;
}

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item {
  position: relative;
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
}

.about-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
}

.about-command-list {
  display: flex;
}

.about-command-item:not(:last-child) {
  margin-right: 30px;
}

.about-command {
  background: #f5f4fa;
}

.about-command-bottom {
  background: var(--primary-color);
}

.section-item-link {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-title-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-item {
  flex-basis: calc((100% - 90px) / 4);
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

.about-title,
.about-command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.about-command-item {
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.about-command-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.about-command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.about-command-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
  margin-bottom: 16px;
}

.command-social-list {
  display: flex;
  justify-content: center;
}

.command-social-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.command-social-link:focus,
.command-social-link:hover {
  background-color: var(--primary-btn-color);
}

.command-social-link:hover .command-social-icon,
.command-social-link:focus .command-social-icon {
  fill: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
}

.command-social-item + .command-social-item {
  margin-left: 10px;
}

.command-social-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client {
  color: #e5e5e5;
}

.regular-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-title-color);
}

.regular-client-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regular-client-list {
  display: flex;
  justify-content: center;
}

.regular-client-item {
  width: 170px;
  height: 92px;
  display: block;
  cursor: pointer;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-item + .regular-client-item {
  margin-left: 30px;
}

.regular-client-icon {
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-item:hover,
.regular-client-item:focus {
  border-color: var(--accent-color);
}

.regular-client-link:hover .regular-client-icon,
.regular-client-link:focus .regular-client-icon {
  fill: var(--accent-color);
}
.command-social-item + .command-social-item {
  margin-left: 10px;
}

/*---------------FOOTER----------*/
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-color);
  width: 231px;
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  width: 231px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
  display: block;
  align-items: center;
  margin-left: 70px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-icon {
  fill: var(--second-text-btn-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing {
  margin-left: auto;
  height: 86px;
  width: 570px;
}

.mailing-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.mailing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.footer-email-mailing {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  padding: 15px 15px;
  outline: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--second-text-btn-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-mailing::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-mailing:focus {
  border-color: var(--accent-color);
}

.mailing-btn {
  width: 200px;
  height: 50px;
  background: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  display: flex;
  align-items: center;
  text-align: center;
}

.mailing-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.mailing-icon {
  fill: var(--primary-color);
  margin-left: 10px;
}

/*--------------PORTFOLIO----------*/
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-btn-color);
  background-color: var(--btn-color);

  border-radius: 4px;
  padding: 6px 22px;
  border: 2px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:focus,
.filters-btn:hover {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-link-top-text {
  transform: translateY(0);
}

.portfolio-link-bottom {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-link-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-link-top-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: rgba(255, 255, 255, 1);
  background: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------MODAL------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scaleX(1.5) rotate(180deg);
  transition: transform 1000ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 1000ms;
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-text {
  color: var(--primary-title-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-field-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-form-text:focus {
  border: 1px solid #2196f3;
}

.modal-form-input:focus + .modal-field-icon {
  fill: var(--accent-color);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  display: block;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-modal-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  display: block;
  resize: none;
  margin-bottom: 4px;
}

.modal-field-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  margin-bottom: 30px;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  outline: none;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  fill: var(--second-text-btn-color);
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--primary-btn-color);
  border: none;
}

.policy-link {
  color: var(--accent-color);
}

.form-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  color: var(--second-text-btn-color);
  background: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus,
.form-btn:hover {
  background: var(--second-btn-color);
}
