.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.overlay__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay__title {
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.overlay__btn {
  color: var(--second-text-btn-color);
  background-color: var(--primary-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__btn:hover,
.overlay__btn:focus {
  background-color: var(--second-btn-color);
}
